<div id="<%= dom_id user %>">
  <p>
    <strong><%= t("users.email") %></strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= t("users.name") %></strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= t("users.phone") %></strong>
    <%= user.phone %>
  </p>

  <p>
    <strong><%= t("users.gender") %></strong>
    <%= user.gender %>
  </p>

  <p>
    <strong><%= t("users.birthday") %></strong>
    <%= user.birthday %>
  </p>

</div>
