<!DOCTYPE html>
<html lang="zxx">
	<body>
		<div class="banner-top container-fluid" id="home">
			<!-- banner -->
			<div class="banner_inner">
				<div class="services-breadcrumb">
					<div class="inner_breadcrumb">

						<ul class="short">
							<li>
								<a href="index.html">Home</a>
								<i>|</i>
							</li>
							<li>Checkout </li>
						</ul>
					</div>
				</div>

			</div>
			<!--//banner -->
		</div>
		<!--// header_top -->
		<!--checkout-->
		<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container">
				<div class="inner-sec-shop px-lg-4 px-3">
					<h3 class="tittle-w3layouts my-lg-4 mt-3">Checkout </h3>
					<div class="checkout-right">
						<h4>Your shopping cart contains:
							<span><%= @products.count() %> products</span>
						</h4>
						<table class="timetable_sub">
							<thead>
								<tr>
									<th>SL No.</th>
									<th>Product</th>
									<th>Quantity</th>
									<th>Product Name</th>
									<th>Price</th>
									<th>Remove</th>
								</tr>
							</thead>
							<% @products.each do |product| %>
								<%= form_tag '/cart', remote: true, method: :patch do |form| %>
									<tbody>
									<%= hidden_field_tag :product_id, product.product_id %>
									<%= hidden_field_tag :order_id, product.order_id %>
									<tr class="rem1">
										<td class="invert">1</td>
										<td class="invert-image">
											<a href="single.html">
												<img src=<%= @images[0].image%> alt=" " class="img-responsive">
											</a>
										</td>
										<td class="invert">
											<div class="quantity">
												<div class="quantity-select">
													<%= button_tag(name: 'minus', style: "background-color: transparent; border: none")  do %>
														<div class="entry value-minus">&nbsp;</div>
													<%end%>
													<div class="entry value">
														<%= text_field_tag :quantity, value: product.order_quantity, style: "width: 100%; border: none; background-color: transparent", id: "quantity_input" %>
													</div>
													<%= button_tag(name: "plus", style: "background-color: transparent; border: none") do %>
														<div class="entry value-plus active">&nbsp;</div>
													<%end%>
												</div>
											</div>
										</td>
										<td class="invert"><%= product.name %> </td>
										<td class="invert"><%= product.price * product.order_quantity %></td>
										<td class="invert">
											<div class="rem">
												<%= link_to remove_from_cart_path(order_id: product.order_id, product_id: product.product_id), remote:true, class: "googles-cart pgoogles-cart", style: "color: black", method: :delete do %>
													<i class="fa fa-trash" style="cursor: pointer; font-size: large"></i>
												<% end %>
											</div>
										</td>
									</tr>
									</tbody>
								<% end %>
							<% end %>
						</table>
					</div>
					<div class="checkout-left row">
						<div class="col-md-4 checkout-left-basket">
							<h4>Continue to basket</h4>
							<% @products.each do |product| %>
								<ul>
									<li><%= product.name %>
										<i>-</i>
										<span><%= product.price * product.order_quantity %> </span>
									</li>
								</ul>
							<% end %>
						</div>
							<% unless @products.empty? %>
								<div class="checkout-right-basket">
										<%= link_to "Make a Payment", checkout_path(order_id: @products[0].order_id) %>
								</div>
							<% end %>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</section>
		<!--//checkout-->
		<!--jQuery-->
		<!-- newsletter modal -->
		<!--search jQuery-->
		<!--//search jQuery-->
		<script>
			$(document).ready(function () {
				$(".button-log a").click(function () {
					$(".overlay-login").fadeToggle(200);
					$(this).toggleClass('btn-open').toggleClass('btn-close');
				});
			});
			$('.overlay-close1').on('click', function () {
				$(".overlay-login").fadeToggle(200);
				$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
				open = false;
			});
		</script>
		<!-- carousel -->
		<!--quantity-->
		<script>
			$('.value-plus').on('click', function () {
				var quantity_input = $(this).parent().find('#quantity_input'),
					newVal = parseInt(quantity_input.val(), 10) + 1;
				quantity_input.val(newVal);
			});

			$('.value-minus').on('click', function () {
				var quantity_input = $(this).parent().find('#quantity_input'),
					newVal = parseInt(quantity_input.val(), 10) - 1;
				if (newVal >= 1) quantity_input.val(newVal);
			});
		</script>
		<!--quantity-->
		<!--close-->
		<script>
			$(document).ready(function (c) {
				$('.close1').on('click', function (c) {
					$('.rem1').fadeOut('slow', function (c) {
						$('.rem1').remove();
					});
				});
			});
		</script>
		<script>
			$(document).ready(function (c) {
				$('.close2').on('click', function (c) {
					$('.rem2').fadeOut('slow', function (c) {
						$('.rem2').remove();
					});
				});
			});
		</script>
		<script>
			$(document).ready(function (c) {
				$('.close3').on('click', function (c) {
					$('.rem3').fadeOut('slow', function (c) {
						$('.rem3').remove();
					});
				});
			});
		</script>
		<!--//close-->

		<!-- dropdown nav -->
		<script>
			$(document).ready(function () {
				$(".dropdown").hover(
					function () {
						$('.dropdown-menu', this).stop(true, true).slideDown("fast");
						$(this).toggleClass('open');
					},
					function () {
						$('.dropdown-menu', this).stop(true, true).slideUp("fast");
						$(this).toggleClass('open');
					}
				);
			});
		</script>
		<!-- //dropdown nav -->
			<script>
					jQuery(document).ready(function($) {
							$(".scroll").click(function(event) {
									event.preventDefault();
									$('html,body').animate({
											scrollTop: $(this.hash).offset().top
									}, 900);
							});
					});
			</script>
		<!-- js file -->
	</body>
</html>
